* {
  box-sizing: border-box;
  color: #00ffff9e;
  font-family: 'roboto light';
  font-size: medium;
  transition: ease-in;
  transition-duration: 100ms;
  scrollbar-color: #6969dd #e0e0e0;
  scrollbar-width: thin;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.02);
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); */
  /* background-color: #d6dee1; */
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.05);
  border: 6px solid transparent;
  background-clip: content-box;
}

body {
  background:
    linear-gradient(to bottom, #010014, #00002c51),
    radial-gradient(circle at bottom left, #ff42fcc1, #ffa0fd7e, #0008a961, #00002c),
    linear-gradient(to top left, #00ddffd2, #001891bd, #00002c);
  background-blend-mode: normal;
  overflow: hidden;
  -webkit-animation: gradient 15s ease-in-out infinite;
  animation: gradient 15s ease-in-out infinite;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}



@-webkit-keyframes gradient {
  0% {
    background-size: 100%;
  }
  25% {
    background-size: 250%;
  }
  50% {
    background-size: 400%;
  }
  100% {
    background-size: 150%;
  }
}

@keyframes gradient {
  0% {
    background-size: 100%;
  }
  25% {
    background-size: 250%;
  }
  50% {
    background-size: 400%;
  }
  100% {
    background-size: 150%;
  }
}


.container {
  display: grid;
  grid-template: 10vh 80vh 10vh / 20vw 1fr;
  grid-template-areas: "header header"
    "left body"
    "footer footer";
  grid-gap: 0px;
  height: 100%;
  margin: 0px;
}

.header {
  grid-area: header;
  display: grid;
  gap: 1em;
  grid-template: 1fr / 20vw auto 1fr 20vw;
  grid-template-areas: "logo title search usuario";
}

.search {
  grid-area: search;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.search h3 {
  max-width: fit-content;
}
.search-box {
border: none;
display: flex;
align-items: center;
height: 2.5em;
padding: 0.5em;
}

.search-input {
  border: none;
  height: 2em;
  }

.search-btn {
  border: none;
  display: none;
}

.body {
  grid-area: body;
  display: grid;
  gap: 1em;
  grid-template: 1fr / 50vw 1fr;
  grid-template-areas: "contenido right";
  padding: 0;
  overflow: hidden;
}

.footer {
  grid-area: footer;
  display: grid;
  gap: 1em;
  grid-template: 1fr / 20vw 1fr 20vw;
  grid-template-areas: "contacto slogan redes";
}

.left {
  grid-area: left;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  gap: 2em;
  overflow-y: scroll;
  overflow-x: hidden;
}

.menu>* {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1em;
}

.contenido {
  grid-area: contenido;
  display: flex;
  flex-direction: column;
  /* justify-content: center;*/
  align-items: center;
  overflow-y: scroll;
}

.right {
  grid-area: right;
  float: left;
  font-family: 'Roboto Mono', monospace;
  font-weight: 200;
}

.item {
  background-color: none;
  padding: 0.5em 1em;
}

.item.pageTitle{
  padding-right: 0;
}
.item.search{
  padding-left: 0;
}

.logo {
  grid-area: logo;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
  gap: 0.5em;
}

.contacto {
  grid-area: contacto;
  display: flex;
  align-items: center;
}

.redes {
  grid-area: redes;
  display: flex;
  align-items: center;
}

.slogan {
  grid-area: slogan;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 4em;
  font-family: 'Montserrat';
  font-size: 1em;
  font-weight: 200;
}


.usuario {
  grid-area: usuario;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuUsuario,
.menuInicial {
  padding: 1em;

}

.menuUsuario {
  border-top: 1pt solid #00ffff4e;
}

.acceder {
  grid-area: usuario;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: none;
  border: none;
}

.acceder .btn {
  padding: 0.5em 1em;
  text-align: center;
  min-width: fit-content;
  min-height: fit-content;
}

.menuInicial>*,
.menuUsuario>* {
  display: block;
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
  font-weight: 200;
  text-decoration: none;
  align-items: center;
}

.logo .vlab {
  font-family: 'Montserrat' !important;
  font-weight: 900;
  font-size: 4vh;
  white-space: nowrap;
}

.icono .st0 {
  fill: none;
  stroke: #00ffff;
  stroke-width: 2pt;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.login {
  font-family: 'Roboto Mono', monospace;
  color: #00ffff;
}

.login:hover {
  color: #00ffff;
  font-weight: 400;
  text-decoration: none;
}





.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* .column, */
.myForm,
.cards {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  /*mq cambiar?*/
  padding: 1em;
  gap: 1em;
}

.row,
.card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 1em;
  list-style: none;
}

.card>* {
  margin: 0.5em;
}

.card .title {
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
}

.pageTitle {
  grid-area: title;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-group {
  display: block;
  width: 100%;

}

.input-group>label,
fieldset legend {
  margin-right: 1em;
  padding: .5em 0;
  font-size: 1.2em;
  font-weight: 500;
}

.myForm input,
.myForm .enLinea,
.myForm select {
  flex: 6;
  padding: .5em;
  margin-bottom: 1em;
  width: 100%;
}

select option {
  margin: 40px;
  background-color: #142e5c;
  border: none;
}

.enLinea {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  gap: 2em;
}

.bloque {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.bloque input {
  max-width: 3em;
  margin: 0pt;
  padding: 0;
}

option {
  background: rgba(255, 255, 255, 0.05);
}

.myForm button {
  padding: 1em;
  background: transparent;
  color: white;
  border: 1pt solid #00ffff4e;
  align-self: start;
}

.myForm fieldset input {
  width: min-content;
}

.myForm fieldset {
  border: 0;
}

.incorrecto {
  background-color: red;
}

label {
  display: block;
}

input {
  background-color: transparent;
  outline: 0;
  border-width: 0 0 1pt;
  border-color: #00ffff4e;
}

input:focus {
  border-color: #00ffffbc;
}

select {
  background-color: transparent;
  outline: 0;
  border-width: 0 0 1pt;
  border-color: #00ffff4e;
}

button {
  background-color: transparent;
  border: 1pt solid #00ffff4e;

}

select:hover,
button:hover {
  color: #00ffff;
  font-weight: 400;
  text-decoration: none;
  background-color: #00c8ff11;
}



input::placeholder {
  color: #00ffff4e;
}

input:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background-color: transparent !important;
  color: inherit;
  font-weight: 300;
}



div.estudio {
  display: flex;
  flex-flow: nowrap;
  gap: 0.5em;
  align-items: center;
}

button.add {
  width: 2em;
  height: 2em;
  border-radius: 50%;
}


h2 {
  font-size: 2em;
  padding-left: 0.5em;
  width: 100%;
  display: inline-block;
  align-self: left;
}

h3 {
  font-size: 1.2em;
  width: 100%;
  display: inline-block;
  align-self: left;
  margin: 0;
}

.searchbar {
  width: 100%;
}

.listaPedido {
  display: flex;
  padding: 0.5em;
  flex-flow: column;
  gap: 1em;
}

.pedidoHTML {
  display: flex;
  flex-flow: column nowrap;
  justify-content: top;
  gap: 1em;
  align-items: space-between;

}

.titulo-pedidoHTML {
  display: flex;
  flex-flow: row wrap;
  font-weight: 500;
  justify-content: space-between;
  gap: 0, 5em;
  align-items: space-between;
}

.valor-pedidoHTML {
  display: flex;
  flex-flow: row wrap;
  font-weight: 500;
  justify-content: space-between;
  gap: 0, 5em;
  align-items: space-between;

}


.valor-pedidoHTML>*,
.titulo-pedidoHTML>* {
  text-align: left;
  font-weight: bold;
}

.valor-pedidoHTML .btn.cantidad {
  width: 2em;
}


.valor-pedidoHTML .precio {
  text-align: left;
  white-space: nowrap;
}

.contador {
  display: flex;
  font-weight: bold;
  flex-flow: nowrap;
}


.square {
  width: 2em;
  height: 2em;
  /* border: none; */
  cursor: pointer;
}

.round {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  /* border: none; */
  cursor: pointer;
}

/* scroll link */

/* 

.logo {
  grid-area: logo;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;

} */

/* } */


/*sidebar celular*/
/*sidebar celular*/
/*sidebar celular*/
/*sidebar celular*/
/*sidebar celular*/
/*sidebar celular*/
/*sidebar celular*/
/*sidebar celular*/

/*
Rest of styling stuff is your choice
*/


html {
  scroll-behavior: smooth;
}


nav ul {
  display: flex;
  flex-flow: column;
  padding: 0;
}

nav ul ul {
  display: flex;
  flex-flow: column;
}

nav ul li {
  display: inline-block;
  cursor: pointer;
}

nav ul ul li {
  padding: 0 0 1em 1em;
  gap: 1em;
  min-width: 100%;
  cursor: pointer;

}


nav ul ul li a,
nav ul li a {
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
  font-weight: 200;
  text-decoration: none;
  align-items: center;
}

nav ul ul li.active,
nav ul li.active,
nav ul ul li a:hover,
nav ul li a:hover {
  font-weight: bold;
  transition: 0.2s;
}

nav ul ul li.active a,
nav ul li.active a {
  font-weight: bold;
}


/*SOLO DESKTOP*/

@media only screen and (min-width: 1200px) {

  .boton-menu {
    display: none;
  }

  #sidebar {
    display: none;
  }




}

/*SOLO TABLET*/

@media only screen and (max-width: 1200px) {
  #menuFijo {
    display: none;
  }

  .show-sidebar {
    display: block;
  }

  .hide-sidebar {
    display: none;
  }

  .container {
    display: grid;
    /*grid-template:filas / columnas*/
    /* grid-template: 15vh 80vh 10vh / 50vw auto;
      grid-template-areas: "header header"
                          "body body"
                          "footer footer"; */

    grid-template-columns: 30vw auto;
    grid-template-rows: 10vh 85vh 5vh;
    grid-gap: 0px;
    height: 100%;
    margin: 0px;
  }

  .header {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;

    display: grid;
    grid-template: 10vh / 4em auto auto 1fr 1fr;
    grid-template-areas: "menu logo title search usuario";
    align-content: center;
    column-gap: 1em;
    row-gap: 0em;
    padding: 0.5em;
    border-bottom: 1px solid #00ffff9e;
    ;
  }


  .body {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    display: grid;
    grid-template-columns: 70vw 1fr;
    padding-left: 2em;

    /*grid-template:filas / columnas*/
    /* grid-template: 100vh 1fr / 50vw 1fr; */
    /*grid-template-areas: "fila 1" "fila 2" */
    grid-template-areas: "contenido right";
    overflow-y: scroll;
  }


  .footer {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;

  }

  .left {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    float: left;
    height: 100%;

    gap: 2em;
    background: #00000017;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 4;
    overflow-y: scroll;
  }

  .menu {
    transition: 0.5s;
    border: none;
  }

  .contenido {
    grid-area: contenido;
    height: min-content;
    display: flex;
    flex-direction: column;

    align-items: center;
  }

  .right {
    grid-area: right;
    /* height:50px;
      background-color: red; */
    float: left;
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
  }

  .item {
    background-color: none;
    padding: 0.5em 1em;

  }

  #close {
    display: none;
    cursor: pointer;
  }

  .acceder {
    justify-content: flex-end;
  }
  .boton-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: menu;
  }

    
  .search {
    grid-area: search;
  }



}

/*CELULAR*/

@media only screen and (max-width: 890px) {

  #menuFijo {
    display: none;
  }

  .show-sidebar {
    display: block;
  }

  .hide-sidebar {
    display: none;
  }

  .container {
    display: grid;
    grid-template-columns: 50vw auto;
    grid-template-rows: 15vh 80vh 5vh;
    grid-gap: 0px;
    height: 100%;
    margin: 0px;
  }


  .header {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    display: grid;
    grid-template: 9vh 6vh / 4em 1fr 1fr auto;
    grid-template-areas: "menu logo usuario usuario"" .  search search title";
    column-gap: 1em;
    row-gap: 0em;
    padding: 0.5em;
    border-bottom: 1px solid #00ffff9e;
    ;
  }

  
  .search {
    grid-area: search;
    flex-flow: row-reverse;
    display: flex;
    justify-content: flex-start;
    padding-right: 0;
    max-width: min-content;
  }

  .search-input {
    max-width: min-content;
    text-align: right;
  }
  .item.search {
    padding-right: 0;
  }

  .item.pageTitle {
    padding-left: 0;
    padding-right: 1em;

  }

  .body {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto, auto;
    padding-left: 2em;

    /*grid-template:filas / columnas*/
    /* grid-template: 100vh 1fr / 50vw 1fr; */
    /*grid-template-areas: "fila 1" "fila 2" */
    grid-template-areas: "contenido""right";
    overflow-y: scroll;
  }


  .footer {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;

  }

  .left {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    float: left;
    height: 100%;

    gap: 2em;
    background: #00000017;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 4;
    overflow-y: scroll;
  }

  .menu {
    transition: 0.5s;
    border: none;
  }

  .contenido {
    grid-area: contenido;
    height: min-content;
    display: flex;
    flex-direction: column;
    /* justify-content: center;*/
    align-items: center;
  }

  .right {
    grid-area: right;
    /* height:50px;
    background-color: red; */
    float: left;
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
  }

  .item {
    background-color: none;
    padding: 0.5em 1em;

  }

  #close {
    display: none;
    cursor: pointer;
  }

  .boton-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: menu;
  }


  .slogan {
    display: none;
  }



  /* .acceder .btn {

  margin:5%;
  padding:5%;
  width:80%;
}

.acceder {
  grid-area: usuario ;
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background: none;
  border: none;
  padding:0;
} */
}


/*BREAKPOINTS
Estandar (version Laptop)
(max-width: 768px) - Version Tablet
(max-width: 576px) - Version celulares pantalla grande/mediana
(max-width: 320px) - Version celulares pantalla chica */